
.userComments{
    display: grid;
    grid-template-columns: auto auto;
}


.userComments .comment{
    text-align: center;
    background-color: black;
    box-shadow: 1px 2px 4px 2px aquamarine;
    margin: .2rem;
    padding: 1rem;
}

.userComments .comment p{
    text-align: center;
    color: aliceblue;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}


.cpopup{
    z-index: 1000000;
    background-color: rgba(255, 255, 255, 0.856);
    position: absolute;
    top: 10%;
    right: 0;
    bottom: -10%;
    left: 0;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cpoCont{
    width: 20rem;
    background-color: black;
    color: rgb(6, 171, 236);
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cpoCont button{
    cursor: pointer;
}
.cpoCont h3{
    width: 15rem;
    margin: 0 auto;
}
.cpoCont form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

@media screen and (max-width:600px) {
    .userComments{
        display: grid;
        grid-template-columns: auto;
    }
    
.cpoCont{
    width: 20rem;
    background-color: black;
    color: rgb(6, 171, 236);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cpoCont h3{
    width: 15rem;
    margin: 0 auto;
}
}