.blogDetail{
    margin: 6rem 2rem 2rem 2rem;

}

.blogDetail .detailCont .userInfo{
    padding: .4rem;
    margin: 1rem;
    background-color:rgba(255, 255, 255, 0.253);
}

.blogDetail .detailCont .userInfo p{
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(250, 215, 250);
    margin-left: .5rem;
    text-align: left;
}.blogDetail .detailCont .userInfo p:nth-child(2){
    font-size: .7rem;
}

.detailCont .blogImg{
    width: 70%;
    height: 35rem;
    margin: 0 auto;
    border-radius: .4rem;
}

.detailCont h1{
    font-size: 3.4rem;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 162, 255);
    margin: 1rem auto;
    padding:1rem 0;
    width: 70%;
    text-align: left;
}
.detailCont {
    margin-bottom: 2rem;
}
.detailCont .dsc{
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: italic;
    width: 70%;
    color: rgb(0, 255, 191);
    margin: 0 auto;
    text-align: justify;
}

@media screen and (max-width:1000px) {
    
    .detailCont .blogImg{
        width: 80%;
        height: 22rem;
    }
}

@media screen and (max-width:1000px) {
    
    .blogDetail .detailCont .userInfo img{
        width: 3rem;
    }.detailCont .blogImg{
        width: 80%;
        height: 25rem;
    }.detailCont h1{
        font-size: 2.5rem;
        width: 80%;
        font-weight: 700;
    }.detailCont .dsc{
        font-size: 1.4rem;
        width: 80%;
    }

}

@media screen and (max-width:800px) {
    
    .blogDetail .detailCont .userInfo img{
        width: 3rem;
    }.detailCont .blogImg{
        width: 80%;
        height: 22rem;
    }.detailCont h1{
        font-size: 2rem;
        font-weight: 700;
    }.detailCont .dsc{
        font-size: 1.2rem;
    }

}

@media screen and (max-width:800px) {
    
    .blogDetail .detailCont .userInfo img{
        width: 3rem;
    }.detailCont .blogImg{
        width: 90%;
        height: 22rem;
    }.detailCont h1{
        width: 90%;
        font-size: 2rem;
    }.detailCont .dsc{
        width: 90%;
        font-size: 1.2rem;
    }

}

@media screen and (max-width:600px) {
    
    .blogDetail .detailCont .userInfo img{
        width: 2.5rem;
    }.detailCont .blogImg{
        width: 90%;
        height: 17rem;
    }.detailCont h1{
        font-size: 1.5rem;
    }.detailCont .dsc{
        font-size: 1rem;
    }

}
@media screen and (max-width:400px) {
    .blogDetail .detailCont .userInfo p{
        font-size: .9rem;
    }
    .blogDetail .detailCont .userInfo img{
        width: 2rem;
    }.detailCont .blogImg{
        width: 95%;
        height: 15rem;
    }.detailCont h1{
        font-size: 1.3rem;
    }.detailCont .dsc{
        font-size: .8rem;
    }

}
