
#profileInfo{
    border-radius: 1rem;
    box-shadow: 2px 4px 8px 2px rgb(50, 205, 179);
    padding:1rem 0;
}

#profileInfo img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 2px 4px 8px 2px yellowgreen;
}
#profileInfo h3,h4{
    margin: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
#profileInfo hr{
    width: 25rem;
    color: cornflowerblue;
}